name: ci-test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:alpine3.22
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: root
          POSTGRES_DB: simple_bank
        ports:
          - "54322:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.3'

    - name: Install golang-migrate
      run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.19.1/migrate.linux-amd64.tar.gz | tar -xz
        sudo mv migrate /usr/local/bin/migrate
        migrate -version

    - name: Set DB Source
      run: |
        echo "DB_SOURCE=postgresql://postgres:root@localhost:54322/simple_bank?sslmode=disable" >> $GITHUB_ENV

    - name: Run migrations
      run: make migrateup

    - name: Tidy and Validate Dependencies
      run: go mod tidy && go mod verify

    - name: Build
      run: go build -v ./...

    - name: Test
      run: make test

    - name: Upload Test Results on Failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          test-output.log
          coverage.out